@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    transition-property: background-color, color;
    transition-duration: 200ms;
  }

  body {
    @apply bg-white dark:bg-gray-900;
    @apply text-gray-900 dark:text-gray-100;
  }
}
